@media only screen and (max-width: 1600px){
.blogcard {
  position: absolute;
    background-color:white;
    width:100%;
    border: 1px solid #d0d1d5;
    border-radius:3px;
    margin: auto;
    padding: 12px; 
    
    box-shadow: 0 0 5px rgba(0, 0, 0, .30); 
  }}
 
  @media only screen and (max-width: 1600px){
  .col-form-label   {
    font-family: Helvetica;
    font-size:14px;
    font-weight: bold;
    line-height: 1.38;
    color: #7aa5f5;
    text-decoration:none;
    
    margin-bottom:2px;
  }
  }

  @media only screen and (max-width: 1600px){
  .pbtn{
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
    background: #4d7fa8;
    color: white !important;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}}

@media only screen and (max-width: 1600px){
.ubtn{
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
    background: #90f0b0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}}

@media only screen and (max-width: 1600px){
.maincard
 {
    display: grid;
    min-width: 300px;
    padding: 10px;
    width: 80vw;
    max-width: 800px;
    margin: auto;
}
}

@media only screen and (max-width: 1600px){
.card-header{
  font-style: italic;
  font-weight: bold;
  color: palevioletred;
}}
  